.separator {
    display: flex;
    align-items: center;
}

.separator h6 {
    padding: 0 0.6rem;
    /* creates the space */
}

.separator .line {
    flex: 1;
    height: 1px;
    background-color: rgb(90, 90, 90);
}

.text-piglet {
    color: #ff9edf
}

.btn-piglet {
    background-color: #2739ff;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 45px;
}

.btn-piglet:hover {
    color: #fff;
    background-color: #4554f7;
}

.btn-link {
    font-weight: 400;
    color: #2739ff;
}

.text-piglet {
    color: #2739ff;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #2739ff;
    border-color: #0d6efd;
}

.page-link {
    position: relative;
    display: block;
    color: #2739ff;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nav-tabs .nav-link-piglet.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link-piglet:focus,
.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate;
}

.nav-tabs .nav-link-piglet {
    margin-bottom: -1px;
    background: 0 0;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-link-piglet:focus,
.nav-link-piglet:hover {
    color: #0a58ca;
}

.nav-link-piglet {
    display: block;
    padding: .5rem 1rem;
    color: #2739ff;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

iframe,
object,
embed {
    max-width: 100%;
}

.form-control_piglet {
    background: #eff1f4;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    height: 45px;
    margin-right: 0px;
    min-width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 4px;
    text-align: center;
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.avatar_big {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 10px;
}

.notification {
  background-color: #00000;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 10px;
  right: 21px;
  background: var(--bs-danger);
  color: white;
}
.trflashgreen-bg {
    background-color: rgb(119, 245, 119); /* Sets the background color of the table row to green */
}