{% include "navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-6 offset-lg-0" style="margin-top: 10px">
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Future Spends per Month</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <canvas id="futureSpends"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xxl-6 offset-lg-0" style="margin-top: 10px">
            <div class="card text-center">
                <div class="card-header text-center">
			<h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Future Spends Overview</h5>
                </div>
                <div class="card-body">
		    {% with messages = get_flashed_messages() %} {% if messages %} {% for msgs in messages %} {%
		    for key,value in msgs.items() %}
		    {% if key == "Entity deleted" %}
		    <div class="alert alert-{{ value }}"
			style="border-radius: 4px;margin-top: 30px;text-align: center;">
			{{key}}
		    </div>
		    {% endif %}
		    {% endfor %} {% endfor %} {% endif %} {% endwith %}
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table id="orders" class="table cell-border compact hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Category</th>
                                    <th>Value</th>
                                    <th>Timestamp</th>
                                    <th>Description</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for item in orderlist %}
                                    <td> {{ item.user }} </td>
                                    <td> {{ item.category }} </td>
                                    <td> {{ item.value }} </td>
                                    <td> {{ item.timestamp }} </td>
                                    <td> {{ item.description }} </td>
                                    <td><a style=text-decoration:none href="/fdelete?name=futurespends&id={{ item.id }}" class="btn-sm btn-danger"><i class="far fa-trash-alt"></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#orders').DataTable({
            scrollX: false,
            scrollY: false,
            "columnDefs": [{
                "width": "5%",
                className: 'dt-body-center dt-head-center',
                "targets": 5
            }, {
                "width": "5%",
                className: 'dt-body-center dt-head-center',
                "targets": 4
            }, {
                "width": "10%",
                className: 'dt-body-center dt-head-center',
                "targets": 3
            }, {
                "width": "5%",
                className: 'dt-body-center dt-head-center',
                "targets": 2
            }, {
                "width": "10%",
                className: 'dt-body-center dt-head-center',
                "targets": 1
            }, {
                "width": "8%",
                className: 'dt-body-center dt-head-center',
                "targets": 0
            }, ],
            "pagingType": "full_numbers",
            "order": [],
            "language": {
                "lengthMenu": "Max entries _MENU_",
                "zeroRecords": "Sorry nothing found &#128533",
                "info": "Page _PAGE_ of _PAGES_",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filter of all _MAX_ entries )",
                "search": "Search",
                "paginate": {
                    "first": "",
                    "last": "",
                    "next": "",
                    "previous": ""
                },
            }
        });
    });
</script>
<script>
var xValues = {{ monthlist|tojson }};
var yValues = {{ valuelist|tojson }};
var barColors = {{ colorlist|tojson }};

new Chart("futureSpends", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },

  options: {
	  scales: {
	    y: {
		beginAtZero: true,
	    }
	  },
	  hoverBorderColor: '#5966f3',
	  legend: {
	    display: false,
	  },
  }
});
</script>
{% extends "footer.html" %}
