{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-6 offset-lg-0" style="margin-top: 10px">
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Spend per User</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <canvas id="byUser"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xxl-6 offset-lg-0" style="margin-top: 10px">
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Spend per Category</h5>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center">
			            <canvas id="byCat"> </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-lg-12 offset-lg-0">
            <div class="card">
                <div class="card-header text-center">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Last Orders</h5>
                </div>
                <div class="card-body">{% with messages = get_flashed_messages() %} {% if messages %} {% for msgs in messages %} {{msgs}} {% endfor %} {% endif %} {% endwith %}
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table id="orders" class="table cell-border compact hover">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Category</th>
                                    <th>Value</th>
                                    <th>Timestamp</th>
                                    <th>Description</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for item in orderlist %}
                                    <td> {{ item.user }} </td>
                                    <td> {{ item.category }} </td>
                                    <td> {{ item.value }} </td>
                                    <td> {{ item.timestamp }} </td>
                                    <td> {{ item.description }} </td>
                                    <td><a style=text-decoration:none href="/delete-ts/{{ item.id }}" class="btn-sm btn-danger"><i class="far fa-trash-alt"></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#orders').DataTable({
            scrollX: false,
            scrollY: false,
            "columnDefs": [{
                "width": "5%",
                className: 'dt-body-center dt-head-center',
                "targets": 5
            }, {
                "width": "5%",
                className: 'dt-body-center dt-head-center',
                "targets": 4
            }, {
                "width": "10%",
                className: 'dt-body-center dt-head-center',
                "targets": 3
            }, {
                "width": "5%",
                className: 'dt-body-center dt-head-center',
                "targets": 2
            }, {
                "width": "10%",
                className: 'dt-body-center dt-head-center',
                "targets": 1
            }, {
                "width": "8%",
                className: 'dt-body-center dt-head-center',
                "targets": 0
            }, ],
            "pagingType": "full_numbers",
            "order": [],
            "language": {
                "lengthMenu": "Max entries _MENU_",
                "zeroRecords": "Sorry nothing found &#128533",
                "info": "Page _PAGE_ of _PAGES_",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filter of all _MAX_ entries )",
                "search": "Search",
                "paginate": {
                    "first": "",
                    "last": "",
                    "next": "",
                    "previous": ""
                },
            }
        });
    });
</script>
<script>
var xValues = {{ graphdata.user.name |tojson }};
var yValues = {{ graphdata.user.value|tojson }};
var barColors = {{ graphdata.user.color|tojson}};

new Chart("byUser", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
	    display: false,
    title: {
      display: true,
      text: "Übersicht Ausgaben"
    }
    }
  }
});
</script>
<script>
var xValues = {{ graphdata.cat.name |tojson }};
var yValues = {{ graphdata.cat.value|tojson }};
var barColors = {{ graphdata.cat.color|tojson}};

new Chart("byCat", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
	    display: false,
    title: {
      display: true,
      text: "Übersicht nach Kategorie"
    }
    }
  }
});
</script>
{% extends "footer.html" %}

</html>
