{% block nav %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="content-language" content="en">
    <!-- Default Bootstrap und FA -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
        crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        integrity="sha512-IOs1XMJ8vPmQX+aSgwGt8nA1wMAvqt5CKH9sqxUnhGdnrAdPZGPwoQexsOexknQHFurLbq2bFLh1WTk2vbGmOQ=="
        crossorigin="anonymous">


    <!-- Datatables -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
        integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css"
        integrity="sha512-T8BgXd9MafK8shYZfxoTzfT/h8wdpftMbPL4QBcIrvK7jCrwOnajfT3Dn7AQPMNHkcVHwbJ9h/vSReJOX+4NrA=="
        crossorigin="anonymous">
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"
        integrity="sha512-LwrFW0xqJFSt6KTx/rIp45r081lj/p+gGAD55xh2JdlLewFYXoW16YsG99jpB9qycPyvJCCwo8rbZJRY67Gc0A=="
        crossorigin="anonymous"></script>

    <!-- Navbar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
        integrity="sha512-cn16Qw8mzTBKpu08X0fwhTSv02kK/FojjNLz0bwp2xJ4H+yalwzXKFw/5cLzuBZCxGWIA+95X4skzvo8STNtSg=="
        crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static',filename='favicon_v2.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/SIdebar-Responsive-2-1.css') }}">
    <script src="{{ url_for('static', filename='assets/js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/lightswitch.js') }}"></script>

    <!-- Custom + Darkmode -->

    {% if session.title == "dashboard" %}
    <title>Piglet | Dashboard</title>
    {% elif session.title == "report" %}
    <title>Piglet | Analyze</title>
    {% elif session.title == "order" %}
    <title>Piglet | New Order</title>
    {% elif session.title == "settings" %}
    <title>Piglet | Settings</title>
    {% elif session.title == "budget" %}
    <title>Piglet | Budget</title>
    {% elif session.title == "category" %}
    <title>Piglet | Categories</title>
    {% elif session.title == "futurespends" %}
    <title>Piglet | Future Spends</title>
    {% elif session.title == "notifications" %}
    <title>Piglet | Notifications</title>
    {% else %}
    <title>Piglet</title>
    {% endif %}

</head>

<body>
    <header id="header" class="header">
        <div id="close-menu" class="header_toggle col-sm-5">
            <i class="bx bx-chevron-left" id="chevron-icon"></i>
        </div>
        <div class="col-2">
            <a id="light-switch" class="header_toggle" title="Switch light" href="#" style="margin-right: 15px;">
                <i class="bx bx-moon nav_icon"></i>
            </a>
            <a title="Show notifications" class="header_toggle" href="#" id="notiRead" aria-expanded="false" data-bs-toggle="dropdown" name="{{ notilist }}" onclick="notiRead();">
                {% if noticount == 0 %}
                <i class="bx bx-bell nav_icon"></i>
                {% else %}
                <i class="bx bx-bell nav_icon"></i>
                {% endif %}
                <span class="badge">{{ noticount }}</span>
            </a>
        </div>
    </header>
    <div id="nav-bar" class="l-navbar">
        <nav id="nav-list" class="nav">
            <div>
                <a id="header_toggle-2" class="nav_logo header_toggle" href="#">
                    <img class="nav_logo-img" src="{{ url_for('static', filename='assets/img/logo_v2.png') }}">
                    <span class="nav_logo-name">Piglet</span>
                </a>
                <div class="nav_list">
                    {% if session.title == "dashboard" %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>

                    {% elif session.title == "order" %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link active">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>

                    {% elif session.title == "report" %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link active">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>

                    {% elif session.title == "category" %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link active">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>
                    {% elif session.title == "budget" %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link active">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>
                    {% elif session.title == "futurespends" %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link active">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>
                    {% else %}
                    <a href="{{ url_for( 'overview') }}" class="nav_link">
                        <i class='bx bx-grid-alt nav_icon '></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link">
                        <i class='bx bx-credit-card nav_icon '></i>
                        <span class="nav_name">Add Order</span>
                    </a>
                    <a href="{{ url_for( 'category') }}" class="nav_link">
                        <i class='bx bx-category-alt nav_icon '></i>
                        <span class="nav_name">Categories</span>
                    </a>
                    <a href="{{ url_for( 'budget' ) }}" class="nav_link">
                        <i class='bx bx-wallet nav_icon'></i>
                        Budgets</a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link">
                        <i class='bx bx-stats nav_icon '></i>
                        <span class="nav_name">Analyze</span>
                    </a>
                    <a href="{{ url_for( 'futurespends') }}" class="nav_link">
                        <i class='bx bx-bar-chart-alt nav_icon '></i>
                        <span class="nav_name">Future Spends</span>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div>
                {% if session.title == "settings" %}
                <a href="{{ url_for( 'settings' ) }}" class="nav_link active">
                    {% else %}
                    <a href="{{ url_for( 'settings' ) }}" class="nav_link">
                        {% endif %}
                        <img class="nav_logo-img-rounded" src="{{ url_for('pictures', filename=session.image) }}">
                        <span class="nav_name">Accountsettings</span>
                    </a>
                    <a class="nav_link" href="{{ url_for('logout') }}">
                        <i class="bx bx-log-out nav_icon"></i>
                        <span class="nav_name">Logout</span>
                    </a>
            </div>
        </nav>
    </div>
    {% if session.verified == 0 %}
    <div class="container">
        <div class="row">
            <div>
                <div class="alert alert-warning">
                    <center>Email is not verified -
                        <a href="{{ url_for('resend') }}">Resend</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script>
        function updateBudget() {
            var x = document.getElementById("updateBudget").value;
            $.ajax({
                url: "{{ url_for('updateBudget') }}",
                type: 'POST',
                data: {
                    'id': x
                },
                success: function (data) {
                    window.location.reload(true);
                }
            });
        }
    </script>
    <script>
        function notiRead() {
            var x = document.getElementById("notiRead").getAttribute("name")
            $.ajax({
                url: "{{ url_for('readNotis') }}",
                type: 'POST',
                data: {
                    "ids": x
                }
            });
        }
    </script>
</body>
{% endblock %}