 {% include "navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 offset-lg-0" style="margin-top: 10px">
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Notifications</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table table-hover table-piglet">
                            <thead>
                                <tr>
                                    <th>Timestamp</th>
                                    <th>Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for time,noti in all_notifications.items() %}
                                    <td class="text-piglet"> {{ time }} </td>
				    <td> {{ noti }} </td>
				</tr>
                    </div>


                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% extends "footer.html" %}
