 {% include "navbar.html" %}
<div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-lg-12 offset-lg-0">
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">My Budgets</h5>
                </div>
                <div class="card-body">
                    <div class="col-xl-6 offset-xl-3">
                        <form method="post" action="/newbudget">
                            <input class="form-control form-control_piglet" name="budgetname" placeholder="Budget Name" style="margin-top: 10px;text-align: center;">
                            <button class="btn btn-piglet" type="submit" style="width: 100%;margin-top: 10px;">Add Budget</button>
                        </form>
                    </div>
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table id="budget" class="table cell-border compact hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for i in my_budgets %}
                                    <td> {{ i.name }} </td>
                                    <td>
                                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editBudget_{{ i.id }}">
                                            <i class="fas fa-edit"></i>
                                          </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="editBudget_{{ i.id }}" tabindex="-1" aria-labelledby="budgetModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="budgetModalLabel">Change Budget</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" action="/ubudget">
                                                            <input class="form-control form-control_piglet" name="newname" placeholder="{{ i.name }}" style="margin-top: 10px;text-align: center;">
                                                            <button class="btn btn-piglet" name="id" value="{{ i.id }}" type="submit" style="width: 100%;margin-top: 30px;">Speichern</button>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                    </div>


                    <a style="text-decoration:none;" href="{{ url_for( 'leave') }}?bid={{ i.id }}" class="btn btn-danger">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
			<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shareBudget_{{ i.id }}">
                <i class="fas fa-share-alt"></i>
			  </button>

			<!-- Modal -->
			<div class="modal fade" id="shareBudget_{{ i.id }}" tabindex="-1" aria-labelledby="budgetModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
				<div class="modal-content">
				    <div class="modal-header">
					<h5 class="modal-title" id="budgetModalLabel">Share Budget</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
				    </div>
                <div class="modal-body">
                    <form method="post" action="/sharewith">
                        <label class="form-label d-lg-flex justify-content-lg-center">Who do you want to share the budget with?</label>
                        <input class="form-control form-control_piglet" name="shareto" id="shareto" placeholder="Email Addresse" style="margin-top: 10px;text-align: center;">
                        <button class="btn btn-piglet" name="id" value="{{ i.id }}" type="submit" style="width: 100%;margin-top: 30px;">Send</button>
                    </form>
				</div>

			    </div>
			</div>
		    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for msgs in messages %} {% for key,value in msgs.items() %}
                <div class="col-xl-6 offset-xl-3">
                    <div class="alert alert-{{ value }} d-lg-flex justify-content-lg-center" style="border-radius: 40px;text-align: center;">
                        {{key}}
                    </div>
                </div>
                {% endfor %} {% endfor %} {% endif %} {% endwith %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#budget').dataTable({
            scrollX: false,
            scrollY: false,
            "searching": false,
            "lengthChange": false,
            "ordering": false,
            "paging": false,
            "bInfo": false,
            "columnDefs": [{
                "width": "10%",
                className: 'dt-body-center dt-head-center',
                "targets": 1
            }, {
                "width": "8%",
                className: 'dt-body-center dt-head-center',
                "targets": 0
            }, ],
        });
    });
</script>

{% extends "footer.html" %}
