 {% include "navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-xxl-6 offset-lg-0" style="margin-top: 10px">
            <div class="card text-center">
                <div class="card-header">
                    <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Notifications</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table id="budget" class="table cell-border compact hover">
                            <thead>
                                <tr>
                                    <th>Zeit</th>
                                    <th>Nachricht</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for time,noti in all_notifications.items() %}
                                    <td class="text-piglet"> {{ time }} </td>
				    <td> {{ noti }} </td>
				</tr>
                    </div>


                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#budget').dataTable({
            scrollX: false,
            scrollY: false,
            "searching": false,
            "lengthChange": false,
            "ordering": false,
            "paging": false,
            "bInfo": false,
            "columnDefs": [{
                "width": "10%",
                className: 'dt-body-center dt-head-center',
                "targets": 1
            }, {
                "width": "8%",
                className: 'dt-body-center dt-head-center',
                "targets": 0
            }, ],
        });
    });
</script>

</body>
{% extends "footer.html" %}
