<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Piglet Login</title>
    <link rel="stylesheet" href="static/login/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="static/favicon_v2.ico">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</head>

<body>
    <div class="container" style="margin-top: 130px;">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card text-center" style="box-shadow: 1px 0px 20px rgba(33,37,41,0.39);">
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col"><img src="static/logo_v2.png" width="100" height="100"></div>
                        </div>
                        <br>
                        <p class="text-piglet" style="font-weight: bold; font-size: 22px;">Passwort vergessen?</p>
                        

                        <span class="iconify" data-icon="ic:twotone-cloud-done" data-width="100" data-height="100"></span>
                        <p class="text" style="font-size: 17px;">Email gesendet!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/login/js/jquery.min.js"></script>
    <script src="static/login/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="static/login/js/theme.js"></script>
</body>

</html>