    {% include "navbar.html" %}
    <div class="container"style="margin-top: 10px">
        <div class="row">
            <div class="col-lg-12 offset-lg-0">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Analyse:</h5>
                    </div>
                    <div class="card-body">
                        <div class="col-xl-6 offset-xl-3">
                            <form method="POST" action="/reports">
                                <select class="form-control form-control_piglet" name="year" style="margin-top: 10px;">
                                    {% for item in years %}
                                        {% if item == session.year %}
                                        <option value="{{ session.year }}" selected >{{ session.year }}</option>
                                        {% else %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                <select class="form-control form-control_piglet" name="month" style="margin-top: 10px;">
                                        {% for value in months %}
                                            {% if value.name == session.month %}
                                                <option value="{{ session.month }}" selected>{{ session.month }}</option>
                                            {% else %}
                                                    <option value="{{ value.name }}">{{ value.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                <input type="hidden" name="budget_id" value="{{ session.budget_id }}">
                                    </select>
                                <button class="btn btn-piglet" type="submit" style="margin-top: 20px;">Generate</button></form>
                        </div>
                </div>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for msgs in messages %} {% for key,value in msgs.items() %}
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-lg-10 offset-lg-1">
                            <div style="border-radius: 40px;" class="alert alert-{{ value }}">
                                {{key}}
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% endfor %} {% endif %} {% endwith %}
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-lg-12 col-xxl-6 offset-lg-0">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Overview {{session.month}} {{session.year}}:</h5>
                    </div>
                    <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <canvas id="byUser" style="width:100%;max-width:1000px"></canvas>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-xxl-6 offset-lg-0">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Overview by Category {{session.month}} {{session.year}}:</h5>
                    </div>
                    <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <canvas id="byCat" style="width:100%;max-width:1000px"></canvas>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 60px;">
        <div class="row">
            <div class="col-lg-12 offset-lg-0">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Debt {{session.month}} {{session.year}}:</h5>
                    </div>
                    <div class="card-body">
                        <div class="col-xl-6 offset-xl-3">

                            {% for name,value in reports.items()%}
                            <h1>
                                <p class=" text-piglet" style="margin-top: 10px; text-align: center;">
                                    {{ name }}: {{ value }} €
                                </p>
                            </h1>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
var xValues = {{ graphdata.user.name |tojson }};
var yValues = {{ graphdata.user.value|tojson }};
var barColors = {{ graphdata.user.color|tojson}};

new Chart("byUser", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
            display: false,
    title: {
      display: true,
      text: "Overview"
    }
    }
  }
});
</script>
<script>
var xValues = {{ graphdata.cat.name |tojson }};
var yValues = {{ graphdata.cat.value|tojson }};
var barColors = {{ graphdata.cat.color|tojson}};

new Chart("byCat", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {
            display: false,
    title: {
      display: true,
      text: "Overview by category"
    }
    }
  }
});
</script>
  {% extends "footer.html" %}

