<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Piglet | Reports </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="static/index/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/index/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="static/index/css/styles.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">

    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Navbar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" type="image/x-icon" href="static/favicon_v2.ico">
    <script type=" text/javascript " language="javascript" src="static/nav.js"></script>
    <link rel="stylesheet " href="static/nav.css">
    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="static/slider.css">

    <script>
        $.get("/footer", function(data) {
            $("#footer-placeholder").replaceWith(data);
        });
    </script>

</head>

<body id="body-pd" class="body-pd">
    <header class="header body-pd" id="header">
        <div class="header_toggle"> <i class='bx bx-chevron-left' id="header-toggle"></i> </div>

    <div class="dropdown">
        <a href="#" class="dropdown-toggle link-piglet-nav" data-bs-toggle="dropdown">{{ session.email }} <img src="static/pp/{{ session.image }}" alt="Avatar" class="avatar"></a>
        <div class="dropdown-menu">
            <a href="{{ url_for( 'settings' ) }}" class="dropdown-item"><i class='bx bx-user nav_icon'></i> Account</a>
            <a href="{{ url_for( 'budget_settings' ) }}" class="dropdown-item"><i class='bx bxs-directions nav_icon'></i> Budget</a>
        </div>
    </div>
    </header>

    <div class="l-navbar show_nav" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo" href="{{ url_for( 'overview') }}"><img class='bx bx-layer nav_logo-icon ' src="static/logo_v2.png" width="25" height="25"><span class="nav_logo-name">Piglet</span></a>
                <div class="nav_list">
                    <a href="{{ url_for( 'overview') }}" class="nav_link"> <i class='bx bx-grid-alt nav_icon '></i> <span class="nav_name">Dashboard</span> </a>
                    <a href="{{ url_for( 'get_data') }}" class="nav_link"> <i class='bx bx-wallet-alt nav_icon '></i> <span class="nav_name">Ausgabe hinzufügen</span> </a>
                    <a href="{{ url_for( 'reports') }}" class="nav_link active"> <i class='bx bxs-report nav_icon '></i> <span class="nav_name">Berichte</span> </a>
                    <a href="{{ url_for( 'logout') }}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Logout</span></a>
                </div>

            </div>

            <div>
                <a class="nav_link btn-toggle"><i class='nav_icon bx' id="moon"></i> 
                    <span class="nav_name">Darkmode</span>
                </a>
            </div>
        </nav>
    </div>
    <section class="newsletter-subscribe">
        <div class="container">
            <div class="row justify-content-center">
                <div class="intro">
                    <h2 class="text-center">Reports</h2>
                    <br>
                </div>
                <div class="row">
                    <div class="col-lg-0 col-xl-0">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Monatliche Reports</h6>
                            </div>
                            <div class="card-body">
                                <br>
                                <div class="form-inline justify-content-center">
                                    <form class="d-flex justify-content-center flex-wrap" method="POST" action="/reports">

                                        <select class="form-control" name="year" style="margin-top:40px;">
                                            {% for item in months %}
                                            <option value="{{ item }}">{{ item }}</option>
                                        {% endfor %}
                                        </select>
                                        <select class="form-control" name="month" style="margin-top:40px;">
                                            {% for key,value in months.items() %}
                                            {% for months in value %}
                                            <option value="{{ months.name }}">{{ months.name }}</option>
                                            {% endfor %}
                                            {% endfor %}
                                            
                                        </select>
                                        <button class="btn-piglet mb-3" type=submit style="width: 30%; height: 100%; margin-top: 40px; ">Generieren</button>
                                    </form>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-center">{{ month }}:</h2>
                <div class="row">
                    <div class="col-lg-0 col-xl-0">
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="text-primary fw-bold m-0">Schulden</h6>
                            </div>
                            <div class="card-body">
                                <center>
                                    {% for name,value in reports.items()%}
                                    <h1 class=" text-primary "> {{ name }}: {{ value }} €</h1>
                                    {% endfor %}
                                </center>
                            </div>
                            <div>
                                <form class="d-flex justify-content-center flex-wrap" method="POST" action="/reports">
                                    <select class="form-control" name="user" style="width: 20%; margin-top:40px; margin-right: 10px;">
                                        {% for u in userlist %}
                                        <option required value="{{ u.id }}">{{ u.display_name }}</option>
                                        {% endfor %}
                                    <input required class="form-control" type="number" min="0.01" step="0.01" name="debt" style="margin-top:40px;" placeholder="Wert (€)">
                                    <input type="hidden" id="month" name="month" value="{{ month }}">
                                    <input type="hidden" id="year" name="year" value="2021">
                                    <button class="btn-piglet mb-3" style="width: 20%; height: 100%; margin-top: 40px;"  type=submit>Schulden begleichen</button>
                                </form>
                                {{ debt }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-lg-5 col-xl-6 ">
                        <div class="card shadow mb-4 ">
                            <div class="card-header d-flex justify-content-between align-items-center ">
                                <h6 class="text-primary fw-bold m-0 ">Übersicht Ausgaben</h6>
                            </div>
                            <div class="card-body ">
                            </div>
                            <iframe src="https://ff.srv.it-zs.de/graph/d-solo/Ls2slPdnz/monatsubersicht?orgId=1&from={{ timestamps.from }}&to={{ timestamps.to }}&theme=light&panelId=2 " width="700 " height="500 " frameborder="0 "></iframe>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-6 ">
                        <div class="card shadow mb-4 ">
                            <div class="card-header d-flex justify-content-between align-items-center ">
                                <h6 class="text-primary fw-bold m-0 ">Übersicht nach Kategorie</h6>
                            </div>
                            <div class="card-body ">
                                <iframe src="https://ff.srv.it-zs.de/graph/d-solo/Ls2slPdnz/monatsubersicht?orgId=1&from={{ timestamps.from }}&to={{ timestamps.to }}&theme=light&panelId=4 " width="700 " height="500 " frameborder="0 "></iframe>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

<script src="static/index/bootstrap/js/bootstrap.min.js "></script>
<script src="static/index/js/button.js "></script>
<script>
    const btn = document.querySelector(".btn-toggle");
    const currentTheme = localStorage.getItem("theme");
    if (currentTheme == "dark") {
        document.body.classList.add("dark-theme");
    }

    btn.addEventListener("click", function() {
        document.body.classList.toggle("dark-theme");

        let theme = "light";
        if (document.body.classList.contains("dark-theme")) {
            theme = "dark";
        }
        localStorage.setItem("theme", theme);

        location.reload();
    });
</script>
<script id="darkmode">
    theme = localStorage.getItem("theme");
    var moon_element = document.getElementById("moon")
    if (theme == "dark") {
        moon_element.classList.add("bxs-moon")
    } else {
        moon_element.classList.add("bx-moon")
    }
</script>
<div id="footer-placeholder"></div>

</html>
