  {% include "navbar.html" %}
    <div class="container"style="margin-top: 10px">
        <div class="row">
            <div class="col-lg-12 offset-lg-0">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 style="font-weight: bold; margin-bottom: auto;" class="text-piglet">Analyse</h5>
                    </div>
                    <div class="card-body">
                        <div class="col-xl-6 offset-xl-3">
                            <form method="POST" action="/reports">
                                <select class="form-control form-control_piglet" name="year" style="margin-top: 10px;">
                                    {% for item in years %}
                                        {% if item == session.year %}
                                        <option value="{{ session.year }}" selected >{{ session.year }}</option>
                                        {% else %}
                                        <option value="{{ item }}">{{ item }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                <select class="form-control form-control_piglet" name="month" style="margin-top: 10px;">
                                        {% for value in months %}
                                            {% if value.name == session.month %}
                                                <option value="{{ session.month }}" selected>{{ session.month }}</option>
                                            {% else %}
                                                    <option value="{{ value.name }}">{{ value.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                <input type="hidden" name="budget_id" value="{{ session.budget_id }}">
                                    </select>
                                <button class="btn btn-piglet" type="submit" style="margin-top: 20px;">Generate</button></form>
                        </div>
                    </div>
                    {% with messages = get_flashed_messages() %} {% if messages %} {% for msgs in messages %} {% for key,value in msgs.items() %}
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-lg-10 offset-lg-1">
                            <div style="border-radius: 4px;" class="alert alert-{{ value }}">
                                {{key}}
                            </div>
                        </div>
                    </div>
                    {% endfor %} {% endfor %} {% endif %} {% endwith %}
                </div>
            </div>
        </div>
    </div>
  {% extends "footer.html" %}

