flask
wtforms
flask-caching
flask-Bootstrap
flask-WTF
Flask-Session
gunicorn
requests
passlib
redis
celery
detect_delimiter
Werkzeug

fastapi 
pydantic
uvicorn 
mysql-connector
fastapi-health 
colour 
secure-smtplib
python-multipart 
passlib 
jose 
python-jose
pdfquery
pillow
