:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4c5af7;
  --first-color-light: #7984fd;
  --second-color: #ff9edf;
  --white-color: #F7F6FB;
  --black-color: #212529;
  --black-color-lighter: #949494af;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --form-control-color: #b3b3b3af;
}
.hidden {
    display: none;
}
.text-piglet {
    color: var(--first-color);
}

.btn-piglet {
    background-color: var(--first-color);
    color: #fff;
    border-radius: 4px;
    width: 100%;
    height: 45px;
}
.btn-outline-piglet {
    color: var(--font-color);
    border-color: var(--first-color);
    --bs-btn-color: var(--font-color);
    --bs-btn-border-color: var(--first-color);
    --bs-btn-hover-bg: var(--first-color-light);
    --bs-btn-hover-border-color: var(--first-color);
    --bs-btn-active-bg: var(--bkg-color);
    --bs-btn-active-border-color: var(--first-color);
}

.btn-check:checked+.btn {
    background-color: var(--first-color);
    border: none;
}
.btn-piglet:hover {
    background-color: var(--first-color-light);
    color: #fff
}

.form-control_piglet {
    background: var(--form-control-color);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    color: inherit;
    height: 45px;
    margin-right: 0px;
    min-width: 250px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 4px;
    text-align: center;
}


.header {
    background-color: var(--bkg-color);

}


.table-piglet {
    table-layout: fixed;
    text-align: center;
}