
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  padding: .5rem 1rem 0 0;
  z-index: var(--z-fixed);
  background: var(--first-color);
  color: var(--white-color);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo, .nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}
.nav_logo-img {
  width: 25px;
  height: 25px;
}
.nav_logo-img-rounded {
  width: 25px;
  height: 25px;
  border-radius: 30px;
}

.nav_logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--bs-gray-400);
  margin-bottom: 1.5rem;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

.height-100 {
  height: 100vh;
}

@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }
}

@media screen and (min-width: 768px) {
  .header_img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header_img img {
    width: 45px;
  }
}

@media screen and (min-width: 768px) {
  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }
}

@media screen and (min-width: 768px) {
  .show-nav {
    width: calc(var(--nav-width) + 156px);
  }
}

@media screen and (min-width: 768px) {
  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: var(--first-color-light);
  background-color: #0a58ca;
  border-color: #0a53be;
}

.btn-primary {
  color: var(--first-color-light);
  background-color: var(--first-color);
  border-color: var(--first-color);
}

.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: 12px;
  font-weight: 700;
  /*line-height: 1;*/
  background: var(--bs-red);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  position: absolute;
  color: var(--bs-light);
}

a:hover {
  color: var(--first-color-light);
}

