flask
wtforms
flask-caching
flask-Bootstrap
flask-WTF
gunicorn
requests
passlib
redis
flask_session

fastapi 
pydantic=1.10.0
uvicorn 
mysql-connector
fastapi-health 
colour 
secure-smtplib
python-multipart 
passlib 
jose 
python-jose
