flask
wtforms
flask-caching
flask-Bootstrap
flask-WTF
gunicorn
requests
passlib

fastapi 
pydantic 
uvicorn 
mysql-connector
fastapi-health 
colour 
sendgrid 
python-multipart 
passlib 
jose 
python-jose
